body {
    background-color: #2a607a;
	background-image: url("https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/Articles/Wahoo+Fitness+Article/article+image+of+woman+running+in+pink.jpg");
	background-size: 100vw;
    background-repeat: no-repeat;
	font-family: "Fjalla One";
}

button {
    background-color: rgba(0, 161, 173, .7);
    border: 2px solid rgb(76, 213, 232);
    color: black;
	font-family: 'Bellefair', serif;
	font-weight: 600;
	width: 100%;
    padding: 15px 32px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0, .2);
    color: rgb(11, 105, 142);
}

h1 {
    margin-top: 0;
	margin-bottom: 0;
    color: white;
    font-size: 35px;
    font-family: 'Righteous', cursive;
}

p {
	color: #ffffff;
    font-weight: 100;
    line-height: 2;
}

.center {
    text-align: center;
}

.container {
  padding: 40px;
}

.instruct {
    margin-top: 100px;
    margin-right: 30px;
    font-family: 'Cabin', sans-serif;
}

.msg2 {
    display: none;
}

#middle {
    font-size: 25px;
}

#bottom {
    font-size: 20px;
}

@media screen and (max-width: 630px) {
    button {
        margin-top: 20px;
    }
    .msg {
        display: none;
    }
    .msg2 {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    #par {
        overflow-y: scroll;
        height: 300px;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .instruct {
        margin-top: 0;
    }
}

@media screen and (max-width: 930px) {
    .med-col-12 {
        width: 100%;
    }
}

@media screen and (min-width: 401px) and (max-width: 1000px) {
    .msg {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1499px) {
    #middle {
        font-size: 20px;
    }
}

@media screen and (min-width: 1500px) {
    .full {
        overflow: hidden;
    }
}
