body {
	background: url("https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/Articles/Wahoo+Fitness+Article/article+image+of+woman+running+in+pink.jpg");
	background-size: 100vw;
	text-align: justify;
	font-family: "Fjalla One";
}

h1 {
	margin-bottom: 0;
}

h1,
h2 {
	color: #ffffff;
	font-size: 35px;
	/* width: 650px; */
}

p {
	color: #ffffff;
	font-size: 25px;
}

ul,
li {
	color: #ffffff;
	font-size: 20px;
}

.container {
  padding: 30px;
}
