body {
	background: url("https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/Articles/Wahoo+Fitness+Article/article+image+of+woman+running+in+pink.jpg");
	background-size: 100vw;
	text-align: justify;
	font-family: "Fjalla One";
}

button {
    background-color: rgba(0, 161, 173, .7);
    border: 2px solid rgb(76, 213, 232);
    color: black;
	font-family: 'Bellefair', serif;
	font-weight: 600;
	width: 100%;
    padding: 15px 32px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0, .2);
    color: rgb(11, 105, 142);
}

h1 {
    margin-top: 0;
	margin-bottom: 0;
    font-family: 'Righteous', cursive;
}

h1,
h2 {
	color: #ffffff;
	font-size: 35px;
	/* width: 650px; */
}

p {
	color: #ffffff;
	font-size: 25px;
    font-weight: 100;
    line-height: 1.5;
}

ul,
li {
	color: #ffffff;
	font-size: 20px;
}

.center {
    text-align: center;
}

.container {
  padding: 40px;
}

.full {
    overflow: hidden;
}

.instruct {
    margin-top: 100px;
    margin-right: 30px;
    font-family: 'Cabin', sans-serif;
}
